@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column; /*deixa os items de baixo para cima*/

}
h1 {
    font-family: 'roboto', sans-serif;
    font-weight: lighter;
}

.botao__home__sobremim {
    color: white;
    background-color: #00BBC9;
    height: 40px;
    display: flex;
    align-items: center;
}

.botao__home__sobremim a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: #202022;
    padding: 0px 20px 0px 20px;
    border-radius: 3px;
    margin: 11px 20px;
}

.conteudo-principal {
    color: white;
    flex-grow: 1;  /* deixa o footer no lugar */
    margin: 10%;
}

footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #00BBC9;
    width: 100%;
    padding: 20px 0px;
}